<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualités - BDD Ynov</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>Nos Actualités</header>
    <nav>
        <a href="index.html">Accueil</a>
        <a href="actualite.html">Actualités</a>
        <a href="contact.html">Contact</a>
        <a href="login.html">Connexion</a>
        <a href="signup.html">Inscription</a>
    </nav>

    <div class="container">
        <h2>Événements à venir</h2>
        <ul id="event-list">
        </ul>
    </div>

    <script src="/static/js/script.js"></script>
</body>
</html>
 