<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil - BDD Ynov</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <header>Association BDD</header>
    <nav>
        <a href="/">Accueil</a>
        <a href="/actualite">Événements</a>
        <a href="/contact">Support</a>
        <a href="/login">Connexion</a>
    </nav>

    <div class="container">
        <h1>Qui sommes-nous ?</h1>
        <p>Une association ayant pour objet de sensibiliser au développement durable et à la solidarité
            étudiante par le biais d’activités et d’événements à l’ensemble des publics présents au sein
            de Paris Ynov Campus.</p>
    </div>

    <div class="container">
        <h1>Nos valeurs</h1>
        <p>Les valeurs de l’association BDD sont la solidarité, l’entraide, la bienveillance, le partage et
            l’engagement. Ces valeurs sont au cœur de nos actions et de nos projets.</p>
    </div>

    <footer>
        <p>Suivez-nous sur :</p>
        <div class="social-icons">
            <a href="https://www.instagram.com/bdd_pandyx?igsh=MTFja2xremt1eXZsYg==" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>       
    </footer>
</body>
</html>
