<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion - BDD Ynov</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <header>Connexion à l'association BDD</header>
    <nav>
        <a href="/">Accueil</a>
        <a href="/actualite">Événements</a>
        <a href="/contact">Support</a>
        <a href="/login">Connexion</a>
        <a href="/signup">Inscription</a>
    </nav>

    <div class="container">
        <h2>Connexion</h2>
        <form id="formaulaire-connexion">
            <input type="email" id="email-connexion" placeholder="Email" required>
            <input type="mdp" id="mdp-connexion" placeholder="Mot de passe" required>
            <button type="submit">Se connecter</button>
        </form>
        <p id="login-message"></p>
    </div>

    <footer>
        <p>Suivez-nous sur :</p>
        <div class="social-icons">
            <a href="https://www.instagram.com/bdd_pandyx?igsh=MTFja2xremt1eXZsYg==" target="_blank"><i class="fab fa-instagram"></i></a>
        </div> 
    </footer>

    <script src="/static/js/script.js"></script>
</body>
</html>
 